:root {
    --color-black: 0 0 0;
    --color-white: 255 255 255;

    --color-aoi-50: 252 252 252;
    --color-aoi-100: 209 238 246;
    --color-aoi-200: 165 217 231;
    --color-aoi-300: 80 183 207;
    --color-aoi-400: 0 156 185;
    --color-aoi-500: 0 134 158;
    --color-aoi-600: 0 109 129;
    --color-aoi-700: 0 83 98;
    --color-aoi-800: 0 63 73;
    --color-aoi-900: 0 47 53;
    --color-aoi-950: 0 28 30;

    --color-sakura-50: 251 251 251;
    --color-sakura-100: 255 226 247;
    --color-sakura-200: 255 192 235;
    --color-sakura-300: 245 150 212;
    --color-sakura-400: 211 110 183;
    --color-sakura-500: 179 79 151;
    --color-sakura-600: 149 54 119;
    --color-sakura-700: 115 35 90;
    --color-sakura-800: 83 19 61;
    --color-sakura-900: 56 2 38;

    --color-kin-50: 251 248 240;
    --color-kin-100: 249 236 165;
    --color-kin-200: 240 218 103;
    --color-kin-300: 213 179 66;
    --color-kin-400: 189 154 42;
    --color-kin-500: 159 125 34;
    --color-kin-600: 130 102 30;
    --color-kin-700: 99 77 26;
    --color-kin-800: 66 51 19;
    --color-kin-900: 36 28 12;

    --color-tetsu-50: 248 248 250;
    --color-tetsu-100: 233 234 243;
    --color-tetsu-200: 210 215 238;
    --color-tetsu-300: 166 176 218;
    --color-tetsu-400: 117 134 184;
    --color-tetsu-500: 88 101 143;
    --color-tetsu-600: 63 77 114;
    --color-tetsu-700: 48 58 84;
    --color-tetsu-800: 32 39 58;
    --color-tetsu-900: 20 26 37;

    --color-ishi-50: 251 247 246;
    --color-ishi-100: 232 232 232;
    --color-ishi-200: 198 187 186;
    --color-ishi-300: 152 142 141;
    --color-ishi-400: 116 106 105;
    --color-ishi-500: 80 73 73;
    --color-ishi-600: 58 51 50;
    --color-ishi-700: 41 34 34;
    --color-ishi-800: 26 21 21;
    --color-ishi-900: 19, 12, 12;
}
