:root {
    --color-aoi-50: 243 248 249;
    --color-aoi-100: 217 240 248;
    --color-aoi-200: 180 222 235;
    --color-aoi-300: 106 191 215;
    --color-aoi-400: 51 166 195;
    --color-aoi-500: 7 145 170;
    --color-aoi-600: 5 120 142;
    --color-aoi-700: 7 93 110;
    --color-aoi-800: 5 72 84;
    --color-aoi-900: 11 53 61;

    --color-sakura-50: 251 251 251;
    --color-sakura-100: 255 230 249;
    --color-sakura-200: 255 199 239;
    --color-sakura-300: 241 160 219;
    --color-sakura-400: 211 121 193;
    --color-sakura-500: 182 89 163;
    --color-sakura-600: 154 61 132;
    --color-sakura-700: 122 38 102;
    --color-sakura-800: 90 18 70;
    --color-sakura-900: 61 0 43;

    --color-kin-50: 252 249 244;
    --color-kin-100: 251 230 190;
    --color-kin-200: 247 212 131;
    --color-kin-300: 221 183 80;
    --color-kin-400: 183 148 35;
    --color-kin-500: 152 121 10;
    --color-kin-600: 118 93 4;
    --color-kin-700: 93 73 1;
    --color-kin-800: 67 52 0;
    --color-kin-900: 38 29 4;

    --color-tetsu-50: 249 249 251;
    --color-tetsu-100: 236 237 245;
    --color-tetsu-200: 216 220 241;
    --color-tetsu-300: 177 185 224;
    --color-tetsu-400: 131 145 194;
    --color-tetsu-500: 101 112 156;
    --color-tetsu-600: 74 87 127;
    --color-tetsu-700: 56 66 96;
    --color-tetsu-800: 37 44 67;
    --color-tetsu-900: 21 27 42;

    --color-ishi-50: 251 248 247;
    --color-ishi-100: 235 235 235;
    --color-ishi-200: 204 195 194;
    --color-ishi-300: 161 153 152;
    --color-ishi-400: 126 117 116;
    --color-ishi-500: 90 83 83;
    --color-ishi-600: 66 58 57;
    --color-ishi-700: 46 38 38;
    --color-ishi-800: 27 21 21;
    --color-ishi-900: 17, 8, 8;
}
