@import url('./fonts/fonts.css');
@import url('./colors.css');
@import url('./typography.css');
@import url('./layout.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    min-height: 100vh;
}

#root {
    @apply min-h-screen grid grid-rows-[auto_1fr];
}
