@layer components {
    .bg-surface {
        @apply bg-white dark:bg-aoi-900;
    }

    .bg-elevated {
        @apply bg-aoi-100 dark:bg-aoi-950;
    }

    .header-container {
        @apply w-full bg-elevated shadow-md border border-aoi-100/75 dark:border-aoi-950/75 relative z-50;
    }

    .header-inner {
        @apply max-w-6xl mx-auto grid grid-cols-12 grid-rows-2 items-center gap-4 px-4;
    }

    .content-container {
        @apply w-full min-h-full bg-surface;
    }

    .content-inner {
        @apply max-w-6xl mx-auto grid grid-cols-12;
    }
}
