@font-face {
    font-family: 'Manrope';
    src: url('./Manrope-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 200;
    src: url('/neuton/Neuton-ExtraLight.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 300;
    src: url('/neuton/Neuton-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 400;
    src: url('/neuton/Neuton-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: italic;
    font-weight: 400;
    src: url('/neuton/Neuton-Italic.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 700;
    src: url('/neuton/Neuton-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Neuton';
    font-style: normal;
    font-weight: 800;
    src: url('/neuton/Neuton-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
